@keyframes loader-ustensils {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.3);
    }
    30% {
        transform: scale(1);
    }
    45% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(100);
    }
}

@keyframes loader-splash {
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes animated-menu {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}